.sidenav {
  min-width: 200px;
  max-width: 200px;
  height: 100vh;
  background-color: var(--primary-accent);
  padding: 0.75rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav > header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1.2rem;
}

.header__logo {
  height: 80px;
  width: 80px;
  object-fit: contain;
  border-radius: 50%;
  margin: 2.2rem auto;
}

.sidenav__link-active,
.sidenav__link:hover {
  background-color: #3f85ca;
  border: 0.5px solid #3f85ca;
}

.sidenav__link {
  text-align: left;
}
