*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus{
  outline: none !important;
  box-shadow: none !important;
}

:root{  
  --primary-accent: #0c3763;

  --header-height: 120px;         
  --body-height: calc(100vh - var(--header-height));
}

@media (max-width: 576px) {
  :root{
    --body-hight: calc(100vh - 168px);
  }
}


.btn-primary {
  color: #fff;
  background-color: var(--primary-accent) !important;
  border-color: var(--primary-accent) !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0d3c6ced !important;
  border-color: #0d3c6ced !important;
}

.App {
  display: flex;
}

.content-frame {
  height: calc(100vh - 48px);
  width: calc(100vw - 200px);
  flex: 1;
  overflow: scroll
}

.content-frame table td {
  cursor: pointer;
}


.thead-sticky th {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tr-selected {
  background-color: #2355ec !important; 
  color: white;
}